body {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    /* font-weight: 400; */
}

.backgr-img {
    z-index: -1;
}

h2 {
    font-weight: bold;
}
.rouble {
    font-weight: 400;
}
.bckg-top-rgth1,
.bckg-top-rgth2,
.bckg-top-lft1,
.bckg-top-lft2 {
    z-index: 0;
}
.cart-element {
    z-index: 5;
    padding: 5px 0;
    border-top: 1px solid;
    /* border-bottom: 1px solid; */
    border-image: linear-gradient(to right, transparent, #000, transparent) 1;
    max-width: 100%;
    margin: 10px 20px 0 0;
}
.img-cart {
    max-width: 100%;
    height: auto;
    z-index: 5;
}
.name-prod-cart {
    font-size: 16px;
    /* font-weight: 300; */
}
.action-counter_cart {
    display: flex;
    justify-content: space-around;
}
.items-action_cart {
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
    z-index: 5;
    padding: 0 10px;
    border-radius: 10px;
}

.action-counter_cart {
    border: #4e4c4c83 1px solid;
    border-radius: 10px;
}
.cart-price {
    z-index: 5;
    
}
.icon-delet {
    cursor: pointer;
    z-index: 5;
}
.total-price_blok {
    z-index: 5;
    margin-top: 15px;
}

.total-price_blok div {
    font-size: 18px;
    font-weight: bold;
}
.itemForPrice  {
    font-size: 14px;
    /* font-weight: 400; */
}
    /* скрываем блоки */
    .btn-delivery,
    .btn-place-order {
        display: none;
    }
    .btn-place-order,
    .btn-place-order_link {
        z-index: 10;
    }
    .btm-deliver_link,
    .btn-place-order_link {
        text-decoration: none;
    }

    /* Для истории заказа */
    .order-history-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: relative;
      }
      .order-history-container,
      .order-history-title {
        z-index: 10;
      }
      
      .order-history-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
      }
      
      .order-items-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .order-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        font-size: 18px;
      }
      
      .order-total {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;
      }
      
      .total-label {
        color: #333;
      }
      
      .total-price {
        color: #000000; /* Цвет итоговой суммы */
      }
      .order-block {
        display: none;
      }
      



/* Для различной ширины и высоты экрана */

      /* Style for font size */

      /* 350 */
      @media (min-width: 300px) {
        .txLinkHome {
            font-size: 18px;
        }
        .total-price_blok div {
            font-size: 17px;
            /* font-weight: bold; */
        }
        .name-prod-cart {
            font-size: 16px;
            /* font-weight: 400; */
        }
        .cart-name-title,
        .itemForPrice {
            padding: 0 2px;
        }
        .cart-price {
            margin: 15px 10px;
        }
        .itemForPrice {
            font-size: 14px;
            /* font-weight: 400; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn-place-order_text {
            font-size: 15px;
            font-weight: bold !important;
            /* font-weight: 400; */
        }
        .place-order {
            margin-top: 15px;
            width: 60%;
        }
        .place-order {
            width: 60%;
        }
        .order-items-list {
            font-size: 16px;
        }
        .order-history-container {
            max-width: 250px;
        }
        .total-label,
        .total-price-order {
            font-size: 18px;
        }


    }

        /* 768px и более */
      @media (min-width: 768px) {
        .txLinkHome {
            font-size: 20px;
        }
        .total-price_blok div {
            font-size: 22px;
            font-weight: bold;
        }
        .name-prod-cart {
            font-size: 20px;
            /* font-weight: 300; */
        }
        .cart-price {
            margin: 0 auto;
        }
        .itemForPrice {
            font-size: 18px;
            /* font-weight: 400; */
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .btn-place-order_text {
            font-size: 18px;
            /* font-weight: 400; */
        }
        .btn-place-order {
            width: 250px;
        }
        /* order */
        .order-items-list {
            font-size: 18px;
        }
        .order-history-container {
            max-width: 400px;
        }
        .total-label,
        .total-price-order {
            font-size: 20px;
        }
        
      }

    /* Стили для экранов шириной 992px и более */
        @media (min-width: 992px) {
            .txLinkHome {
                font-size: 22px;
            }
            .total-price_blok div {
                font-size: 24px;
                font-weight: bold;
            }
            .name-prod-cart {
                font-size: 22px;
                /* font-weight: 400; */
            }
        }

        
          /* Стили для экранов шириной 1200px и более */
          @media (min-width: 1200px) {
            .total-price_blok div {
                font-size: 28px;
                /* font-weight: bold; */
            }
            .name-prod-cart {
                font-size: 24px;
                /* font-weight: 400; */
            }
            .cart-price {
                margin: 0 auto;
            }
            .icon-delet {
                font-size: 20px;
            }
            /* btn */
            .btn-place-order {
                width: 400px;
                z-index: 5;
            }
            .btn-place-order_text {
                font-size: 20px;
                font-weight: 400;
            }
            .itemForPrice {
                font-size: 24px;
                /* font-weight: 400; */
            }
            /* order */
            .order-items-list {
                font-size: 20px;
            }
            .order-history-container {
                max-width: 600px;
            }
            .total-label,
            .total-price-order {
                font-size: 22px;
            }
          }