body {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.backgr-img {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/img/backgr.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(243, 239, 239, 05);
}
.linkToPage a {
    text-decoration: none;
    font-size: 22px;
    /* font-weight: 400; */
    color: rgba(254, 64, 48, 0.95);
}
.cartValueProduct {
    background-color: black !important;
}
/* корзина */
.cart-title,
.data-order {
    font-size: 22px;
    font-weight: bold;
    color: #000 !important;
    margin-left: 32px;
}
.list-group {
    width: 100%;
}
.total-price-product {
    display: flex;
    align-items: end;
}
.list-group-item  {
    padding-top: 16px;

}
    .name-product,
    .total-price-product,
    .bonus-text,
    .bonus-value,
    .check-bonus {
        font-size: 14px;
        /* font-weight: 400; */
    }
    .bonus-block {
        padding-left: 16px;
        border-radius: 5px;
    }
    .total-value-block {
        font-size: 18px;
        /* font-weight: 400; */
    }
    .bonus-value {
        margin-right: 16px;
    }
    .order-data-title {
        margin-left: 0;
    }
    
    .order-box {
        padding: 5px;
        border: 3px solid rgb(61, 60, 60);
        border-radius: 5px;
    }
    .place-order-btn {
        font-weight: bold;
    }

    /* Ввод */
    .input-text {
        font-weight: bold;
    }

/* Для различной ширины экрана */


    /* 300 */
    @media (min-width: 300px) {
    .cart-title {
        font-size: 16px;
    }
    .order-data-title {
        font-size: 16px;
    }
        /* заказ */
        .name-product,
        .total-price-product,
        .bonus-text,
        .bonus-value {
            font-size: 14px;
            /* font-weight: 400; */
        }
        .check-bonus {
            font-size: 16px;
            /* font-weight: 400; */
    }
    .total-value-block {
        font-size: 16px;
        font-weight: bold;
    }
    /* info */
    .name-client,
    .phone-client,
    .address-client,
    .name-delivery,
    .name-pay,
    .date-delivery,
    .time-delivery   {
        font-size: 16px;
        font-weight: bold;
    }
    .input-name,
    .input-phone,
    .input-address,
    .input-date,
    .input-time,
    .comment,
    .delivery-type-text,
    .pay-type-text,
    .change-check {
        font-size: 15px;
    }
    .place-order-btn {
        font-size: 15px;
        /* font-weight: 300; */
    }
    .btn-order {
        width: 60%;
    }

    } 

    /* 1200 */
    @media (min-width: 1200px) {
        .cart-title {
            font-size: 22px;
    }
    .order-data-title {
        font-size: 22px;
    }
        /* заказ */
        .name-product,
        .total-price-product,
        .bonus-text,
        .bonus-value {
            font-size: 18px;
            /* font-weight: 500; */
        }
        .check-bonus {
            font-size: 24px;
            /* font-weight: 400; */
    }
    .total-value-block {
        font-size: 26px;
        font-weight: bold;
    }
    /* info */
    .name-client,
    .phone-client,
    .address-client,
    .name-delivery,
    .name-pay,
    .date-delivery,
    .time-delivery   {
        font-size: 24px;
    }
    .input-name,
    .input-phone,
    .input-address,
    .input-date,
    .input-time,
    .comment,
    .delivery-type-text,
    .pay-type-text,
    .change-check {
        font-size: 20px;
    }
    /* btn */
    .place-order-btn {
        font-size: 20px;
        /* font-weight: 400; */
    }

    .btn-order {
        width: 100%;
    }

    } 