/* html, body {
  width: 100%;
  height: 100%;
} */

.container {
    max-width: 1400px;
    padding: 0 10px;
}

body {
    /* font-family: "Merriweather", serif; */
    font-family: "Philosopher", serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 300;
    /* overflow-x: hidden; */
}

/* Header */
.header {
    position: relative;
    padding: 0;
}
    /* заголовок navbar */
.header-style {
    background-color: rgba(255, 249, 249, 0.6);
    padding-bottom: 10px;
    min-height: 50px;
    position: relative;
    z-index: 5;
}
    /* video */
.full-screen {
    width: 100%;
    display: flex;
}
.video_backgr {
    /* z-index: -1; */
    width: 100%;
    height: 100vh;
}

.full-screen_video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 /* /video */

/* овощи*/
.left-top-img {
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 5;
    max-width: 120px;
}
.right-top-img {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 1;
    max-width: 100px;
}
.left-btm-img {
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: 1;
    height: auto;
    max-width: 120px;
}


.right-btm-img {
    position: absolute;
    right: 5px;
    bottom: 0;
    z-index: 5;
    max-width: 100px;
    height: auto;
}
/* /овощи */

/* Modal windows */
    .modal-content {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/img/backgr.jpeg');
    }
    .img-logo_modal {
        max-width: 180px;
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .modal-logo {
        margin: 0 auto;
    }
    .btn-modal_reg {
        margin-left: 0 !important;
    }
    .text-error-mass {
        font-size: 12px;
    }

    /* /modal */

.Navbar-menu_All {
    z-index: 5;
}

.backgr-color {
    background-color: rgba(253, 250, 250, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/* Logo */
.img-Logo {
    text-align: end;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    display: none;
}

.btm-deliver {
    position: relative;
}
.btm-about {
    position: relative;
    z-index: 5;
}
    /* navbar menu */
.navbar {
    background-color: transparent !important;
}
    /* кнопка  */
.navbar-toggler {
    background-color: rgba(251, 240, 240, 0.6);;
}

.navbar-cont {
    display: none;
}
.adr-phone,
.adr-phone a {
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    
}

.btm-reserv-table-nav {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content:center;
}

.btn-main {
    border-radius: 30px;
    line-height: 1;
    background-color: rgba(254,64,48,0.95);
    padding: 10px 10px;
}
.btn-header_top {
    width: 230px;
    height: auto;
}
.btm-pers-area {
    width: 70px;
    height: auto;
}
.btn-header_bottom {
    width: 150px;
    font-size: 14px;
    z-index: 10;
}

/* Card */
    .card {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        margin-top: 20px;
    }
    .card-img {
        box-shadow: -7px 7px 3px 0px rgba(67, 66, 66, 0.2);
    }

    .cardItem {
        display: flex;
        flex-direction: row;
        font-size: 1.3rem;
        align-items: center;
        border-radius: 50px;
        line-height: 1;
        background-color: rgb(254,64,48,0.95);
        padding: 10px 20px;
    }
    .cardLogo {
        padding-right: 15px;
        border-right: 1px solid #f7ede6;
        width: 50px;
    }
    .cardValue {
        /* font-family: "Merriweather", serif; */
        font-family: "Playfair Display", serif;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #fdfbfb;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .cardValue p {
        margin: 0;
    }
    .cardLink {
        text-decoration: none;
    }


 /* Название */
 .name1 {
    color: rgb(0, 0, 0);
    margin-bottom: 9px;
    line-height: 1;
    font-weight: 400;
 }
 .name2 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 0;
    line-height: 1;
    font-weight: 400;
 }
 .btn-header_btn {
    font-size: 12px;
    padding: 8px 0;
    width: 160px;
    border-radius: 30px;
}
 
 .name-title {
    text-align: center;
    position: relative;
    z-index: 5;
 }

.head-btm-img1 {
    position: absolute;
    bottom: 0;
    z-index: 5;
    max-width: 45%;
    height: auto;
    left: 50%; /* Выравнивание по центру по горизонтали */
    transform: translateX(-50%); /* Сдвиг влево на половину ширины блока */
}
.head-btm-img2 {
    position: absolute;
    bottom: 0;
    z-index: 5;
    max-width: 25%;
    height: auto;
    left: 50%; /* Выравнивание по центру по горизонтали */
    transform: translateX(-50%); /* Сдвиг влево на половину ширины блока */
}

/* Отступы */
.mt-95 {
    margin-top: 95px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.pt-20 {
    padding-top: 20px;
}

/* Фон */
.backgr-img {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/img/backgr.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(243, 239, 239, 05);
}

/*  Слайдер */
.slaider-title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin: 0 20px 15px;
    max-width: 100%;
    padding: 0;
}
.slaider {
    margin-top: 40px;
    max-width: 100%;
}
    /*  левый блок */
    .slider-btm-text {
        font-size: 14px;
        text-align: center;
    }
    .slider-left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider-left_img1,
    .slider-left_img2 {
        position: absolute;
        top: 100%;
        opacity: 0.6;
    }
    .slider-left_img2 {
        position: absolute;
        top: 110%;
    }
    .slider-left_text {
        font-size: 12px;
        font-weight: 300;
        width: 100%;
        text-align: center;
        margin-top: auto;
    }
    .slider-right_img1 {
        max-width: 50%;
    }
        .slider-right_text a {
        text-decoration: none;
        color: #000;
    }
    .slider-right_circle {
        position: relative;
    }
    .slider-right_text {
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: #000;
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        }




        

        /* Увеличение картинок слайдера */
        .image-modal {
            display: none;
            position: fixed;
            z-index: 5;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
          }
          
          .modal-content {
            display: block;
            margin: 15% auto;
            max-width: 60%;
            max-height: 60%;
          }
          
          .close-button {
            color: white;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            top: 10px;
            right: 30px;
            cursor: pointer;
          }
          /* /увеличение картинок слайдера */

          /*  */






    
    /* Меню*/
        .menu-title {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .menu-title p {
            font-size: 43px;
            font-weight: 400;
        }
        /* Карточка */
        .card-link {
            text-decoration: none;
        }
        .card-link:hover{
            cursor: pointer;
        }
        .btm-menu {
            background-color: rgba(254, 64, 48, 0.95);
            border-radius: 50px;
            padding: 5px 10px;
            max-width: 60%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btm-menu p {
            font-size: 14px;
            font-weight: 200;
            color: #f9f7f7;
            padding: 0;
            margin: 0;
        }
        .btm-menu:hover {
            background-color: #f72f1d; /* Цвет фона при наведении */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень при наведении */
            transform: translateY(-2px); /* Смещение вверх при наведении */
        }
        .cardImgPos {
            position: relative;
        }
        .btm-menu {
            position: absolute;
            bottom: 15px;
            right: 10px;
        }
        .cardTitle {
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .cardTitleForAbs {
            position: relative;
            display: flex;
            justify-content: center;
        }
        .img-for-titleCart {
            max-width: 85%;
            max-height: 85%;
        }
        .card-title_Name {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .card-title_Name h5 {
            font-size: 22px;
            font-weight: 400;
            color: #FFF;
            align-items: center;

        }
    
    /* Мероприятия */
    .event-title {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .event-title p {
        font-size: 43px;
        font-weight: 400;
    }
    .card-event {
        overflow: hidden;
    }

    .scale-event {
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: transform 1s ease;
      }
      
      .scale-event.clicked {
        transform: scale(1.2);
      }


      /* стиль к мероприятиям */
      .box {
        width: 100%;
        height: auto;
        flex-flow: row wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;
        flex-direction: auto;
        user-select:none;
      }
      .box div {
        width: 30vw;
        height: auto;
        margin: 0 20px;
        cursor: pointer;
        pointer-events: all;
        box-shadow: 5px 5px 0px 0  rgba(167, 166, 166, 0.3);;
        overflow: hidden;
        border-radius: 10px;
        object-fit:cover;
        margin-bottom: 20px;
      }
      .box div img {
        width:100%;
        height: auto;
        transition: transform 1s;
      }
      
      .box div:hover {
        filter: grayscale(0);
      }
      .box div:hover img {
        transform: scale(1.2);
      }
      .box:hover div:not(:hover) {
        filter: grayscale(1) blur(1px);
      }
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }
    
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    
    .overlay-image {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        transform: scale(0.8);
        transition: transform 0.3s;
    }
    
    .overlay.show .overlay-image {
        transform: scale(1);
    }
      
      @media screen and (max-width: 1080px) {
        .box {
          flex-direction: column;
        }
        .box div {
          margin: 20px 0;
          height: auto;
          width: 70vw;
        }
      }
    
    

    /* Footer */
    .footer {
        margin-top: 100px;
        padding: 0 30px;
        /* font-family: "Merriweather", serif !important; */
        font-family: "Philosopher", serif;
        font-style: normal;
        font-weight: 400;
    }
    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }
    .text-body-secondary {
        font-size: 18px;
        font-weight: bold;
        color: #000 !important;
    }
    .map {
        position: relative;
        overflow: hidden;
        width: 325px;
        height: 243px;
        max-width: 100%;
      }
      .map iframe {
        position: absolute;
        top: 0;
        left: 0;
      }
      .footer h5 {
        font-size: 20px;
        font-weight: 700;
      }
      .footer-btm-text a{
        font-size: 18px;
        font-weight: 400;
      }
      .btm-footer {
        font-size: 18px;
        font-weight: 400;
        background-color: #F1ECEC;
        padding: 16px 0;
        max-width: 100%;
      }
      
      .header-bottom {
        z-index: 10;
      }
      .navbar-text {
        font-size: 15px;
        font-weight: 500;
    }
    .nav-btn button {
        font-size: 12px;
        font-weight: 400;
    }
 .menu-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
 }
 .logo-card {
    display: flex;
    flex-direction: row;
    z-index: 5;
    align-items: center;
    justify-content: center;
 }
 .img-Logo_narrow {
    display: none;
    }

    /*  */
    .valentino-nav {
        height: 1.4em; 
        width: auto; 
        margin-right: 5px;
      }


/* Для различной ширины и высоты экрана */

      /* Style for font size */

    /* 350-767 px */
      @media (min-width: 350px) and (max-width:767px) {
        .img-Logo_narrow {
            display: flex;
            flex-direction: column;
            max-width: 130px;
            z-index: 5;
        }
        .col-nav {
            flex: 0 0 0%;
        }
        .head-btm-img1,
        .head-btm-img2 {
            max-width: 100%;
        }
        .btn-width_100 {
            width: 140px;
        }
        .slider-left_img1,
        .slider-left_img2 {
            opacity: 0.5;
            max-width: 70%;       
        }
      }

      /* 350 */
      @media (min-width: 350px) {
        .navbar-text {
            font-size: 17px;
            font-weight: 500;
        }
        .slider-right_top {
            display: none;
        }
        .slider-right {
            margin-top: 20px;
        }
        .btn-header_bottom,
        .btn-header_top,
        .btn-right-blok,
        .btm-pers-area
         {
            font-size: 12px;
            font-weight: 300;
        }
        .btm-pers-area {
            width: 50px;
            font-weight: bold;
            padding: 5px auto;
        }
        .btn-header_top
         {
            width: 170px;
        }
        .navbar-cont {
            padding-top: 10px;
            border: none;
        }

        .menu-title p,
        .event-title p {
            font-size: 26px;
            font-weight: 400;
        }
        .btm-footer {
            font-size: 15px;
            font-weight: 400;
          }
          .img-for-titleCart {
            max-width: 75%;
            max-height: 75%;
        }
        .btm-menu p {
            font-size: 11px;
        }
        .left-top-img {
            max-width: 120px;
            height: auto;
        }
        .right-top-img {
            max-width: 100px;
            height: auto;
        }
        .head-btm_deliv_aboutrest {
            margin-left: 20px;
        }
        .btn-header_btn {
            font-size: 13px;
            font-weight: 200;
            padding: 8px 0;
            width: 160px;
            border-radius: 30px;
        }
      }

        /* 576px */
        @media (min-width: 576px) {
            .left-top-img {
                max-width: 140px;
                height: auto;
            }
            .right-top-img {
                max-width: 130px;
                height: auto;
            }
            .head-btm_deliv_aboutrest {
                margin-left: 28px;
            }
            .btn-header_btn {
                font-size: 13px;
                padding: 10px 0;
                width: 160px;
                border-radius: 30px;
            }
            .left-btm-img {
                max-width: 130px;
            }
            .right-btm-img {
                max-width: 100px;
            }
        }

      /* 768 */
      @media (min-width: 768px) {
        .navbar-text {
            font-size: 16px;
            font-weight: 500;
        }
        .nav-btn,
        .pers-area-nav {
            display: none;
        }
        .adr-phone,
        .adr-phone a {
            font-size: 13px;
            font-weight: 400;
            margin-left: 5px;
        }
        .left-btm-img,
        .right-btm-img {
            display: block;
        }
        .slider-right_top {
            display: flex;
            justify-content: end;
        }
        .slider-right {
            margin-top: 0px;
        }
        .navbar-cont {
            display: flex;
            padding-top: 10px;
            border-top: solid 1px;
            border-image: linear-gradient(to right, transparent, #0f0f0f, transparent) 1 round;
        }
        .logo-card {
            display: flex;
            flex-direction: column;
        }
        .img-Logo {
            display: block;
        }
        .menu-title p,
        .event-title p {
            font-size: 26px;
            font-weight: 400;
        }
        .btm-footer {
            font-size: 16px;
            font-weight: 400;
          }
          .img-for-titleCart {
            max-width: 80%;
            max-height: 80%;
        }
        .card-block {
            padding-left: 20px;
            padding-right: 20px;
        }
        .btm-menu p {
            font-size: 13px;
        }
        .right-btm-img {
            max-width: 110px;
        }
        .left-top-img {
            max-width: 170px;
            height: auto;
        }
        .right-top-img {
            max-width: 170px;
            height: auto;
        }
        .head-btm_deliv_aboutrest {
            margin-left: 45px;
        }
        .btn-header_btn {
            font-size: 15px;
            font-weight: 300;
            padding: 10px 0;
            width: 170px;
            border-radius: 30px;
        }
        .left-btm-img {
            max-width: 170px;
        }
        .right-btm-img {
            max-width: 110px;
        }
    }

        /* 992px */
      @media (min-width: 992px) {
        .navbar-text {
            font-size: 20px;
            font-weight: 500;
        }
        .name1 {
            font-size: 26px;
            width: 300;
         }
         .name2 {
            font-size: 40px;
            width: 500;
         }
         .head-btm_deliv_aboutrest {
            margin-left: 55px;
        }
        .btn-header_btn {
            font-size: 16px;
            padding: 13px 0;
            width: 190px;
            border-radius: 30px;
        }
         .left-btm-img {
            max-width: 160px;
        }
        .right-btm-img {
            max-width: 130px;
        }
        .cardValue {
            font-size: 20px;
        }
        .slaider-title {
            font-size: 28px;
            font-weight: 400;
        }
        .slider-left_text {
            font-size: 18px;
        }
        .menu-title p,
        .event-title p {
            font-size: 36px;
            font-weight: 400;
        }
        .btm-footer {
            font-size: 18px;
            font-weight: 400;
          }
          .img-for-titleCart {
            max-width: 85%;
            max-height: 85%;
        }
        .card-block {
            padding-left: 30px;
            padding-right: 30px;
        }
        .left-top-img {
            max-width: 220px;
            height: auto;
        }
        .right-top-img {
            max-width: 180px;
            height: auto;
        }
        .text-body-secondary {
            font-size: 20px;
        }
      }
      /* 1200 */
      @media (min-width: 1200px) {
        .navbar-text {
            font-size: 30px;
            font-weight: bold;
            font-weight: 500;
        }
        .adr-phone,
        .adr-phone a {
            font-size: 22px;
            font-weight: 400;
        }
        .name1 {
            font-size: 50px;
            font-weight: 500;
            width: 500;
        }
        .name2 {
            font-size: 85px;
            font-weight: 500;
            width: 700;
        }
        .head-btm_deliv_aboutrest {
            margin-left: 200px;
        }
        .btn-header_btn {
            font-size: 22px;
            padding: 13px 0;
            width: 220px;
            border-radius: 30px;
        }
        .slider-btm-text {
            font-size: 16px;
            text-align: center;
        }
        .card-block {
            padding-left: 50px;
            padding-right: 50px;
        }
        .btm-menu p {
            font-size: 17px;

        }
        .left-btm-img {
            max-width: 180px;
        }
        .right-btm-img {
            max-width: 150px;
        }
        .btn-header_bottom,
        .btn-header_top,
        .btn-right-blok,
        .btm-pers-area
         {
            font-size: 16px;
            font-weight: 300;
        }
        .btn-header_top {
            width: 200px;
        }
        .text-body-secondary {
            font-size: 20px;
        }
      }

    /* Стили для экранов шириной 768px и менее */
@media (max-width: 768px) {
    .nav-btn {
      display: block;
    }
    .btm-reserv-table,
    .btm-in-reg,
    .adr-phone {
        display: none;
    }
  }

      /* Стили для экранов шириной 992px и менее */
@media (max-width: 992px) {

    .slaider {
        margin-top: 20px;
    }
    .slider-left_img_pizza {
        display: none;
    }
    .slider-right_img1 {
        max-width: 40%;
    }
    .slider-right_1 {
        max-width: 60%;
        height: auto;
    }
    .slider-right_1,
    .slider-right_text a {
        display: none;
    }
    .btn-main {
        padding: 10px 5px;
    }
    .slider-right_circle div {
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .card-title_Name h5 {
        font-size: 16px;
        font-weight: 400;
    }
  }

  /* Стили для экранов высотой 570px и менее  */
  @media (max-height: 570px) {
    .header-bottom-title {
        margin-top: 10px;
    }
    /* .head-btm-img1 {
        max-height: 40%;
        width: auto;
    }
    .head-btm-img2 {
        max-height: 25%;
        width: auto;
    } */
}
    /* Стили для экранов шириной 992px и более  */
  @media (min-width: 992px) {
    .down_shift {
        margin-top: 70px !important;
    }
}

    /* Стили для экранов шириной 390px и  менее  */
    @media (max-width: 390px) {
        .header-bottom.d-flex.d-column {
            flex-direction: column;
          }
    }



    /* for logIn */
.view-hide {
    display: none;
}