.hidden {
  display: none;
}

#logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.login-section, .account-section {
  text-align: center;
  margin-top: 50px;
}

#success-message {
  display: none;
}
